body{
    background-color: black;
    background-image: url('new\ 2.jpg');
    background-size: cover;
    background-position: top,right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(59, 58, 58);
}

.random{
    color: white;
    text-align: center;
    font-style: italic;
    background-color: brown;
}

.random2{
    font-weight: bold;
}

img{
    width: 50%;
    height: 20%;
}

#head3{
    text-align: center;
    color: blue;
    /* border-style: double;
    border-width: 10px;
    border-color: brown;
    border-radius: 20px; */

    border:2px solid green;
    border-radius: 10px;
}